// $border-dark: rgba($base-color, 0.88);
$colorOrange: #f85a40;


// shablon for btn hover effects
%btn-hover {
   background: lighten($color: $colorOrange, $amount: 10%);
   box-shadow: 0px 0px 10px $colorOrange;
   border: 1px solid $colorOrange
}

// Висота блоку для плавної появи у Формі об'єкту для різних скрінів
$hFormShowFull: 500px;
$hFormShowSmall: 1000px;

.myform {
   opacity: 70%;
   input {
         text-align: center;
   }
   .btn-send {
      background: $colorOrange;
      height: 38px;
      border-radius: 4px;

      &:hover {  @extend %btn-hover };
      &:active {
         transform: translateY(4px);
      }
   }
};

.btn-estate {
   background: lighten($color: $colorOrange, $amount: 20%);
   height: 38px;
   border-radius: 4px;
   transition: transform 300ms, top 300ms;

   &:hover {  @extend %btn-hover };
   &:active {
      transform: translateY(4px);
   }
}

.btn-estate-set {
   background: $colorOrange;
   height: 38px;
   border-radius: 4px;
   transition: transform 300ms, top 300ms;

   transform: translateY(7px);

   &:hover {  @extend %btn-hover };
   &:active {
      transform: translateY(10px);
   }
}

.myform2 {
   opacity: 60%;
   height: 0;
   animation: myform2 1s forwards;

   input {
      text-align: center;
   }

   .btn-send {
      background: $colorOrange;
      height: 38px;

      &:hover {  @extend %btn-hover };
      &:active {
         transform: translateY(4px);
      }
   }
};
.myform2-none {
   opacity: 60%;
   height: $hFormShowFull;
   animation: myform2-none 1s forwards;
}

@keyframes myform2 {
   0% {opacity: 0; height: 0;}
   100% {opacity: 60%; height: $hFormShowFull;}
 }
 @keyframes myform2-none {
   0% {opacity: 60%; height: $hFormShowFull;}
   100% {opacity: 0; height: 0;}
 }

 @media screen and (max-width: 768px) {
   .myform2-none {
      opacity: 60%;
      height: $hFormShowSmall;
      animation: myform2-none 1s forwards;
   }
   
   @keyframes myform2 {
      0% {opacity: 0; height: 0;}
      100% {opacity: 60%; height: $hFormShowSmall;}
    }
    @keyframes myform2-none {
      0% {opacity: 60%; height: $hFormShowSmall;}
      100% {opacity: 0; height: 0;}
    }
 }


 
.mytext1 {
   // font-size: 42px;
   font-size: 3vw;
   color: rgba(255, 255, 255, 0.8);
   font-weight: 600;
}
.mytext2 {
   // font-size: 42px;
   font-size: 2.5ch;
   color: rgba(255, 255, 255, 0.7);
   font-weight: 600;
}

.mynumber1 {
   display: flex;
   justify-self: start;
   margin-right: 30%;
   margin-top: 10px;
   span {
      margin-left: 5px;
      // font-size: 20px;
      color: rgba(255, 255, 255, 0.8);
   }
}

.triangle-house {
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 36px solid #f85a40;
}

::-webkit-input-placeholder {
   text-align: center;
 }
 
 :-moz-placeholder {
   text-align: center;
 }




@media screen and (max-width: 767px) {
   .testimonial-item {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 15px;
  }

  .mytext1 {
   // font-size: 42px;
   font-size: 2.8ch;
   color: rgba(255, 255, 255, 0.8);
   font-weight: 600;
   }
   .mytext2 {
      // font-size: 42px;
      font-size: 2ch;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
   }
}

@media screen and (max-width: 460px) {
   .hero {
      margin-top: 70px;

      h2 {
         font-size: 26px;
      }
   }
   .mytext1 {
      // font-size: 42px;
      font-size: 1.8ch;
      }
   .mytext2 {
         // font-size: 42px;
      font-size: 1.5ch;

   }
   .mynumber1 { 
      margin-right: 0;
      margin-left: 0;
      font-size: 12px;
   }
   .header .logo {
      h1 {
         font-size: 24px;
      }
   }
 }

 @media screen and (min-width: 765px) and (max-width: 992px)  {
   .hero {
      margin-top: 80px;

      h2 {
         font-size: 60px;
      }
   }
 }