html, body {
	margin: 0 !important;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Відновлення кольорів і бордерів MUI */
.MuiInputBase-root,
.MuiInputLabel-root,
.MuiFormLabel-root,
.MuiOutlinedInput-root,
.MuiTextField-root,
.MuiSelect-root,
.MuiInputBase-input {
  color: rgba(0, 0, 0, 0.87) !important;
}

html.dark .MuiInputBase-root,
html.dark .MuiInputLabel-root,
html.dark .MuiFormLabel-root,
html.dark .MuiInputBase-input {
  color: rgba(255, 255, 255, 0.9) !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border-bottom-color: rgba(0, 0, 0, 0.42) !important;
}

html.dark .MuiInput-underline:before,
html.dark .MuiInput-underline:after {
  border-bottom-color: rgba(255, 255, 255, 0.42) !important;
}

.MuiFormHelperText-root {
  color: rgba(0, 0, 0, 0.6) !important;
}

html.dark .MuiFormHelperText-root {
  color: rgba(255, 255, 255, 0.7) !important;
}

